<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6f14280e1c.js" crossorigin="anonymous"></script>
  <title>Daniel Márquez</title>
  <link rel="stylesheet" href="../Static/main.css">
  <link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <a href="#">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Portafolio</a>
      <a href="#">Servicios</a>
      <a href="#">Contactanos</a>
      <a href="#">Página de prueba</a>
    </nav>
    <section class="textos-header">
      <h1>Potencia tus ventas al menos un 200%</h1>
      <h2>Con una página web potente</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M-3.67,9.38 C276.24,200.81 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #fff;"></path>
      </svg></div>
  </header>
  
  /* menu*/ 
  <main>
    <section class="contenedor nosotros">
      <h2 class="titulo">Nosotros</h2>
      <div class="contenedor-nosotros">
        <img src="../img/ilustra2.svg" alt="" class="ilustra2-nosotros">
        <div class="contenido-textos">
          <h3><span>1</span>Los mejores productos </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ut! Facere velit veniam quidem libero
            perferendis perspiciatis alias ut quibusdam placeat accusamus harum ab commodi, tenetur quaerat aut officia
            deserunt!</p>
          <h3><span>2</span>Los mejores productos </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ut! Facere velit veniam quidem libero
            perferendis perspiciatis alias ut quibusdam placeat accusamus harum ab commodi, tenetur quaerat aut officia
            deserunt!</p>
        </div>
      </div>

    </section>

    <section class="portafolio">
      <div class="contenedor"></div>
        <h2 class="titulo">Portafolio</h2>
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="../img/imag.jpg" alt="">
            <div class="hover-galeria">
              <img src="../img/click.png" alt="">
              <p>Nuestro Trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="../img/imag1.jpg" alt="">
            <div class="hover-galeria">
              <img src="../img/click.png" alt="">
              <p>Nuestro Trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="../img/imag2.jpg" alt="">
            <div class="hover-galeria">
              <img src="../img/click.png" alt="">
              <p>Nuestro Trabajo</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="clientes contenedor">
      <h2 class="titulo">Que dicen nuestros clientes</h2>
      <div class="cards">
        <div class="card">
          <img src="../img/face1.jpg" alt="">
          <div class="contenido-texto-card">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, porro!</p>
          </div>
        </div>
        <div class="card">
          <img src="../img/face2.jpg" alt="">
          <div class="contenido-texto-card">
            <h4>Name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, porro!</p>
          </div>
        </div>
      </div>

    </section>
    <section class="servicios">
      <div class="contenedor servicios">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
          <div class="servicio-ind">
            <img src="../img/ilustra1.svg" alt="">
            <h3>Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestias?</p>
          </div>
          <div class="servicio-ind">
            <img src="../img/ilustra3.svg" alt="">
            <h3>Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestias?</p>
          </div>
          <div class="servicio-ind">
            <img src="../img/ilustra4.svg" alt="">
            <h3>Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestias?</p>
          </div>
        </div>
      </div>

    </section>
  </main>

  <footer>
    <div class="contenedor-footer">
      <div class="contenedor-foo">
        <h4>Celular</h4>
        <p>+57 3134900037</p>
      </div>
      <div class="contenedor-foo">
        <h4>Email</h4>
        <p>daniel.mjgroup@gmail.com</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; Daniel Márquez | 2021</h2>
  </footer>

</body>

</html>